.App_board{
    height: 300px;
    width: 300px;
}
.App_board_row{
    height: 100px;
    flex-wrap: wrap;
}
 

.App_board_col{
height: 100px;
width: 100px;
border: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}